
  <%# <img alt="make-a-wish" class= src="./images/lamb.jpg"> %>

  <img alt="Magic Lamp Aladdin" class="img-fluid" style="display: none;" src="https://res.cloudinary.com/teepublic/image/private/s--1YGoKPZe--/c_crop,x_10,y_10/c_fit,h_855/c_crop,g_north_west,h_972,w_1127,x_-133,y_-58/l_misc:transparent_1260/fl_layer_apply,g_north_west,x_-199,y_-200/c_mfit,g_north_east,u_misc:tapestry-l-l-gradient/e_displace,fl_layer_apply,x_0,y_19/l_upload:v1507037316:production:blanks:knoqtwkqk9vucfsy8ke0/fl_layer_apply,g_north_west,x_0,y_0/b_rgb:180826/c_limit,f_jpg,h_630,q_90,w_630/v1559483062/production/designs/4976797_0.jpg">

  <header>

    <nav class="navbar navbar-expand-lg bg-dark">

    <h1 class="logo">
      <a href="/">Make a Wish</a>
    </h1>
      <div class="collapse navbar-collapse flex-grow-1 text-right">

      <ul class="navbar-nav ml-auto flex-nowrap">
        <li class="dropdown">
          <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">Browse by<span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a class="button" href="/categories/1">CATegories</a></li>
            <li><a class="button" href="/sellers/1/browse">ReTAILers</a></li>
            <li><a class="button" href="/products">Purrducts</a></li>
          </ul>
        
        </li><li class="nav-item">
          </li><li class="header-icon ml-3"><i class="fa fa-shopping-cart"></i></li>
          <a class="nav-link" href="/cart">Shopping Cat</a>
                
          <li class="nav-item">
            </li><li class="header-icon ml-3"><i class="fa fa-github"></i></li>
            <a class="nav-link" href="/auth/github">Login with Cathub</a>
          
      </ul>
      </div>
    </nav>
  </header>