<div class="container mt-5">
  <div class="row justify-content-md-center">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h3 class="text-center">Log In</h3>
          <div class="row mt-3">
            <div class="col-sm-12">
              <%# <%= link_to  "Login with username", signin_path, class:"btn btn-primary btn-lg btn-block " %> 
              <%= link_to "Login with Github", github_login_path, class:"btn btn-success btn-lg btn-block mt-3"%>
            </div>
            <div class="col-sm-12 mt-5 text-center">
              <p>Don't have an account?</p>
              <%= link_to "Sign Up", register_path, class:"btn btn-secondary btn-lg btn-block"%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
