/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

/* Custom bootstrap variables must be set or imported *before* bootstrap. */
@import "bootstrap";
/* Import scss content */
@import "**/*";

// * {
//     background: coral;
// }
// main {
//     margin: 100px;
//     background: coral;

//

.body {
  background: #ececec;
}
.typewriter {
  overflow: hidden;
  color: blue;
  //   border-right: 0.15em solid blue;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.1em;
  //   -webkit-animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end 7;
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end 7;
}
