// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  // border: solid rgb(49, 49, 87) 1px;
}
main {
  margin: 3rem;
}

img {
  width: 100%;
}

#right-options-info, #product-img {
  margin: 2.5rem;
}

#right-options-info {
  padding: 4rem 0;
}

.product-top {
  display: grid;
  grid-template-columns: 50% 50%;
}

.product-info {
  margin: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#add-to-cart {
  margin-top: 1.5rem;
}

.reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviews ul>li {
  list-style: none;
}

.reviews ul>li .stars {
  font-weight: 700;
}