// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

main {
  margin: 3rem;
}

img {
  width: 100%;
}

#right-options-info, #product-img {
  margin: 2.5rem;
}

#right-options-info {
  padding: 4rem 0;
}

.product-top {
  display: grid;
  grid-template-columns: 50% 50%;
}

.product-info {
  margin: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.product-info p span {
  font-weight: 700;
}

#add-to-cart {
  margin-top: 1.5rem;
}

.reviews {
  width: 70%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
}

.reviews h4 {
  text-align: center;
}

#review-form {
  margin: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

form {
  width: 70%
}

#review-form .form-group {
  display: flex;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

#review-form textarea {
  width: 100%;
  height: 8rem;
  
}


.reviews ul>li {
  list-style: none;
  padding-top: 1rem;
  border-top: lightgray solid 1px;
}

.reviews ul>li .stars {
  font-weight: 700;
}
